* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

html, body, pre {
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.83);
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	vertical-align: baseline;
}

strong {
	font-weight: 700;
}

pre {
	-moz-tab-size: 8;
	tab-size: 8;
}

p, pre {
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	margin: 24px 0;
	vertical-align: baseline;
}

h1,h2,h3,h4,h5 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: normal;
	/*margin: 0;*/
}

h1 { font-size: 45px; line-height: 48px; }
h2 { font-size: 35px; line-height: 38px; }
h3 { font-size: 25px; line-height: 28px; }


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}



.article {
	margin: 0 auto;
	max-width: 658px;
	padding: 2rem;
}

.first-p:first-letter {
	float: left;
	font-family: 'Playfair Display', serif;
	padding-top: 4px;
	padding-left: 3px;

	font-size: 75px;
	line-height: 60px;
	padding-right: 8px;

	/* small */
/*			font-size: 48px;
	line-height: 34px;
	padding-right: 6px;*/
}

.t1 {
	margin-left: 3rem;
}

.ind { display: inline-block; width: 2rem; }
.txt-block { margin: 0; }
